# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

gradle

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Fichiers générés par l'IDE
.name
compiler.xml
gradle.xml
IntelliLang.xml
misc.xml
vcs.xml

# Base de données SQLite
sportsin.db